/*** WIDGETS ***/

/** widget sizes */
.widget {
	width: 250px;
}

.FriendsWidget {
	width: 290px;
}

.ProfileWidget {
	width: 240px;
}

.GuestbookWidget {
	width: 360px;
}

.FriendsWidget .w_skin_goldenskin {
	width: 315px;
}

* html .FriendsWidget .w_skin_notepadskin {
	width: 305px;
}

.FriendsWidget .w_skin_noteitskin {
	width: 310px;
}

.FriendsWidget .w_skin_speechbubbleskin {
	width: 265px;
}

* html .FriendsWidget .w_skin_metalskin {
	width: 305px;
}

.FriendsWidget .w_skin_defaultskin {
	width: 280px;
}

.FriendsWidget .w_skin_hc_machineskin {
	width: 340px;
}

.FriendsWidget .w_skin_hc_pillowskin {
	width: 335px;
}

.GuestbookWidget .w_skin_hc_pillowskin {
	width: 350px;
}

/* notepad skin */
.GuestbookWidget .w_skin_notepadskin, .MemberWidget .w_skin_notepadskin, .FriendsWidget .w_skin_notepadskin, .HighscoreListWidget .w_skin_notepadskin {
	width: 326px;
}
.RatingWidget .w_skin_notepadskin {
	width: 196px;
}
.GroupInfoWidget .w_skin_notepadskin, .ProfileWidget .w_skin_notepadskin, .RoomsWidget .w_skin_notepadskin, .GroupsWidget .w_skin_notepadskin, .HighScoresWidget .w_skin_notepadskin, .UserExpsWidget .w_skin_notepadskin, .HabboMoviesWidget .w_skin_notepadskin, .TraxPlayerWidget .w_skin_notepadskin, .BadgesWidget .w_skin_notepadskin {
	width: 254px;
}




.stickie .edit-button, .stickie .report-button {
	position: absolute;
	right: 0;
	top: -5px;
	float: right;
}

/** common widget stuff */
.widget div.widget-headline h3 {
	margin-top: 0;
}

#editmode div.widget-headline {
	cursor: move;
}

.widget .edit-button {
	position: absolute;
	right: 0;
	top: -5px;
}

.widget.ProfileWidget .report-button {
	float: none;
	position: absolute;
	padding-left: 5px;
}

.widget.RoomsWidget .report-button {
	float: right;
	padding-left: 2px;
	padding-right: 2px;
	margin-left: 0px;
	position: static;
}



/*** GOLDENSKIN ***/
.widget .w_skin_goldenskin {

}

.w_skin_goldenskin div.widget-content {
	background: url(../../images/skins/Skin_Goldenframe_btmlR.png) no-repeat bottom right;
	padding: 4px 35px 35px 9px;
}

.w_skin_goldenskin div.widget-body {
	background: url(../../images/skins/Skin_Goldenframe_btmlL.png) no-repeat bottom left;
	padding-left: 31px;
}

.w_skin_goldenskin div.widget-headline {
	background: url(../../images/skins/Skin_Goldenframe_topR.png) no-repeat top right;
	height: 31px;
}

.w_skin_goldenskin div.widget-corner {
	background: url(../../images/skins/Skin_Goldenframe_topL.png) no-repeat top left;
	padding-left: 31px;
	height: 31px;
}

.w_skin_goldenskin div.widget-headline h3 {
	text-align: center;
	font-size: x-small;
	height: 21px;
	top: 7px;
	text-align: center;
	color: #733A00;
	padding-top: 2px;
	margin: 2px 20px 0 0;
	position: relative;
}

.w_skin_goldenskin div.widget-headline .header-middle {
	text-align: center;
	background: url(../../images/skins/Skin_Goldenframe_Header_M.png);
	height: 21px;
	margin: 0px;
	padding: 3px 5px 3px 5px;
}

.w_skin_goldenskin div.widget-headline .header-left {
	background: url(../../images/skins/Skin_Goldenframe_Header_L.png) no-repeat;
	height: 21px;
	padding: 3px 0px 3px 8px;
}

.w_skin_goldenskin div.widget-headline .header-right {
	background: url(../../images/skins/Skin_Goldenframe_Header_R.png) no-repeat;
	height: 21px;
	padding: 3px 18px 3px 0;
}

/*** metalskin ***/
.w_skin_metalskin {

}

.w_skin_metalskin div.widget-content {
	background: url(../../images/skins/Skin_Metal_btmR.png) no-repeat bottom right;
	padding: 2px 27px 24px 5px;
}

.w_skin_metalskin div.widget-body {
	background: url(../../images/skins/Skin_Metal_btmL.png) no-repeat bottom left;
	padding-left: 24px;
}

.w_skin_metalskin div.widget-headline {
	background: url(../../images/skins/Skin_Metal_topRh.png) no-repeat top right;
	height: 33px;
}

.w_skin_metalskin div.widget-corner {
	background: url(../../images/skins/Skin_Metal_topLh.png) no-repeat top left;
	padding-left: 35px;
	height: 33px;
}

.w_skin_metalskin div.widget-headline h3 {
	text-align: center;
	font-size: x-small;
	position: relative;
	top: 3px;
	height : 33px;
	text-align: center;
	color: #565663;
	padding-top: 2px;
	margin: 2px 40px 0 0;
	position: relative;
}

* html .w_skin_metalskin div.widget-headline h3 {
	margin: 0px 40px -5px 0px;
}

/*** HCmacnihe ***/
.w_skin_hc_machineskin {

}

.w_skin_hc_machineskin div.widget-content {
	background: url(../../images/skins/Skin_HCmachine_btmR.png) no-repeat bottom right;
	padding: 2px 40px 40px 0;
	color: #5adc00;
}

.w_skin_hc_machineskin div.widget-body {
	background: url(../../images/skins/Skin_HCmachine_btmL.png) no-repeat bottom left;
	padding-left: 49px;
}

.w_skin_hc_machineskin div.widget-headline {
	background: url(../../images/skins/Skin_HCmachine_topRh.png) no-repeat top right;
	height: 54px;
}

.w_skin_hc_machineskin div.widget-corner {
	background: url(../../images/skins/Skin_HCmachine_topLh.png) no-repeat top left;
	padding-left: 61px;
	height: 54px;
}

.w_skin_hc_machineskin div.widget-headline h3 {
	text-align: center;
	font-size: x-small;
	position: relative;
	top: 3px;
	height : 33px;
	text-align: center;
	color: white;
	padding-top: 2px;
	margin: 2px 61px 0 0;
	position: relative;
}

* html .w_skin_hc_machineskin div.widget-headline h3 {
	margin: 0px 40px -5px 0px;
}

/*** golden pipes and marmor ***/
.w_skin_defaultskin {

}

.w_skin_defaultskin div.widget-content {
	background: url(../../images/skins/Skin_HabboHomes_btmR.png) no-repeat bottom right;
	padding: 2px 14px 20px 10px;
}

.w_skin_defaultskin div.widget-body {
	background: url(../../images/skins/Skin_HabboHomes_btmL.png) no-repeat bottom left;
	padding-left: 14px;
}

.w_skin_defaultskin div.widget-headline {
	background: url(../../images/skins/Skin_HabboHomes_topRh.png) no-repeat top right;
	height: 41px;
}

.w_skin_defaultskin div.widget-corner {
	background: url(../../images/skins/Skin_HabboHomes_topLh.png) no-repeat top left;
	padding-left: 41px;
	height: 41px;
}

.w_skin_defaultskin div.widget-headline h3 {
	text-align: left;
	font-size: x-small;
	font-weight: normal;
	color: white;
	vertical-align: bottom;
	position: relative;
	padding-top: 10px;
	left: -33px;
}

* html .w_skin_defaultskin div.widget-headline h3 {
	margin: 0px 0px -3px 0px;
}


/*** Notepadskin ***/
.w_skin_notepadskin .edit-button {
	right: 2px;
	top: 5px;
}

.w_skin_notepadskin a {
	color: #2c303a;
}

.w_skin_notepadskin div.widget-content {
	background: url(../../images/skins/Skin_Notepad_btmR.png) no-repeat bottom right;
	padding: 2px 7px 18px 2px;
	color: #000;
}

.w_skin_notepadskin div.widget-body {
	background: url(../../images/skins/Skin_Notepad_btmL.png) no-repeat bottom left;
	padding-left: 27px;
}

.w_skin_notepadskin div.widget-headline {
	background: url(../../images/skins/Skin_Notepad_topRh.png) no-repeat top right;
	height: 29px;
	width: 100%;
}

.w_skin_notepadskin div.widget-corner {
	background: url(../../images/skins/Skin_Notepad_topLh.png) no-repeat top left;
	padding-left: 27px;
	height: 29px;
}

.w_skin_notepadskin div.widget-headline h3 {
	text-align: left;
	font-size: small;
	vertical-align: bottom;
	position: relative;
	padding-top: 10px;
	left: -4px;
	color: #4c3a41;
}

* html .w_skin_notepadskin div.widget-headline h3 {
	margin: 0px 0px -3px 0px;
}


/*** noteit ***/
.w_skin_noteitskin{

}

.w_skin_noteitskin div.widget-content {
	background: url(../../images/skins/Skin_Stickienote_btmR.png) no-repeat bottom right;
	padding: 4px 30px 27px 7px;
}

.w_skin_noteitskin div.widget-body {
	background: url(../../images/skins/Skin_Stickienote_btmL.png) no-repeat bottom left;
	padding-left: 30px;
}

.w_skin_noteitskin div.widget-headline {
	background: url(../../images/skins/Skin_Stickienote_topR.png) no-repeat top right;
	height: 30px;
	width: 100%;
}

.w_skin_noteitskin div.widget-corner {
	background: url(../../images/skins/Skin_Stickienote_topL.png) no-repeat top left;
	padding-left: 30px;
	height: 30px;
}

.w_skin_noteitskin div.widget-headline h3 {
	text-align: left;
	font-size: 11px;
	vertical-align: bottom;
	position: relative;
	padding-top: 10px;
	left: -4px;
}

* html .w_skin_noteitskin div.widget-headline h3 {
	margin: 0px 0px -3px 0px;
}

/*** speechbubbleskin ***/
.w_skin_speechbubbleskin {

}

.w_skin_speechbubbleskin div.widget-content {
	background: url(../../images/skins/Skin_Speechbubble_btmR.png) no-repeat bottom right;
	padding: 10px 10px 25px 5px;
}

.w_skin_speechbubbleskin div.widget-body {
	background: url(../../images/skins/Skin_Speechbubble_btmL.png) no-repeat bottom left;
	padding-left: 10px;
}

.w_skin_speechbubbleskin div.widget-headline {
	background: url(../../images/skins/Skin_Speechbubble_topR.png) no-repeat top right;
	height: 10px;
}

.w_skin_speechbubbleskin div.widget-corner {
	background: url(../../images/skins/Skin_Speechbubble_topL.png) no-repeat top left;
	padding-left: 10px;
	height: 10px;
}

.w_skin_speechbubbleskin div.widget-headline h3 {
	text-align: left;
	font-size: small;
	vertical-align: bottom;
	position: relative;
	padding-top: 4px;
	left: -4px;
}

* html .w_skin_speechbubbleskin div.widget-headline h3 {
	margin: 0px 0px -10px 0px;
}

/*** STICKIES ***/

div.stickie {
	width: 250px;
}

/*** GOLDSKIN ***/
.n_skin_goldenskin .stickie-header {
	background: url(../../images/skins/Skin_Goldenframe_topL.png) no-repeat;
	padding-left: 31px;
	height: 31px;
	font-size: 1%;
}

* html .n_skin_goldenskin .stickie-header {
	margin: 0 0 -7px 0;
}

.n_skin_goldenskin .stickie-header h3 {
	background: url(../../images/skins/Skin_Goldenframe_topR.png) no-repeat top right;
	height: 31px;
	font-size: 1%;
}

.n_skin_goldenskin .stickie-body {
	background: url(../../images/skins/Skin_Goldenframe_btmlL.png) no-repeat bottom left;
	padding-left: 31px;
}

.n_skin_goldenskin .stickie-content {
	background: url(../../images/skins/Skin_Goldenframe_btmlR.png) no-repeat bottom right;
}

.n_skin_goldenskin .stickie-content p {
	vertical-align: top;
	margin: 5px 28px 5px 5px;
	padding-bottom: 28px;
}

/*** BLUESKIN ***/
.n_skin_defaultskin .stickie-header {
	background: url(../../images/skins/Skin_HabboHomes_topL.png) no-repeat;
	padding-left: 14px;
	height: 14px;
	margin: 0;
	font-size: 1%;
}

* html .n_skin_defaultskin .stickie-header {
	margin: 0 0 -3px 0;
}

.n_skin_defaultskin .stickie-header h3 {
	background: url(../../images/skins/Skin_HabboHomes_topR.png) no-repeat top right;
	height: 14px;
	margin: 0;
	font-size: 1%;
}

.n_skin_defaultskin .stickie-body {
	background: url(../../images/skins/Skin_HabboHomes_btmL.png) no-repeat bottom left;
	padding-left: 14px;
}

.n_skin_defaultskin .stickie-content {
	background: url(../../images/skins/Skin_HabboHomes_btmR.png) no-repeat bottom right;
}

.n_skin_defaultskin .stickie-content p {
	vertical-align: top;
	margin: 5px;
	padding-bottom: 5px;
}

/*** metalskin ***/
.n_skin_metalskin .stickie-header {
	background: url(../../images/skins/Skin_Metal_topL.png) no-repeat;
	padding-left: 24px;
	height: 24px;
	padding-bottom: 0;
	margin: 0;
	font-size: 1%;
}

* html .n_skin_metalskin .stickie-header {
	margin: 0 0 -3px 0;
}

.n_skin_metalskin .stickie-header h3 {
	background: url(../../images/skins/Skin_Metal_topR.png) no-repeat top right;
	height: 24px;
	margin: 0;
	padding-bottom: 0;
	font-size: 1%;
}

.n_skin_metalskin .stickie-body {
	background: url(../../images/skins/Skin_Metal_btmL.png) no-repeat bottom left;
	padding-left: 24px;
}

.n_skin_metalskin .stickie-content {
	background: url(../../images/skins/Skin_Metal_btmR.png) no-repeat bottom right;
}

.n_skin_metalskin .stickie-content p {
	vertical-align: top;
	margin: 2px 12px 20px 2px;
}

/*** hc_machineskin ***/
.n_skin_hc_machineskin .stickie-header {
	background: url(../../images/skins/Skin_HCmachine_topL.png) no-repeat;
	padding-left: 49px;
	height: 44px;
	padding-bottom: 0;
	margin: 0;
	font-size: 1%;
}

* html .n_skin_hc_machineskin .stickie-header {
	margin: 0 0 -3px 0;
}

.n_skin_hc_machineskin .stickie-header h3 {
	background: url(../../images/skins/Skin_HCmachine_topR.png) no-repeat top right;
	height: 44px;
	margin: 0;
	padding-bottom: 0;
	font-size: 1%;
}

.n_skin_hc_machineskin .stickie-body {
	background: url(../../images/skins/Skin_HCmachine_btmL.png) no-repeat bottom left;
	padding-left: 44px;
}

.n_skin_hc_machineskin .stickie-content {
	background: url(../../images/skins/Skin_HCmachine_btmR.png) no-repeat bottom right;
}

.n_skin_hc_machineskin .stickie-content p {
	vertical-align: top;
	margin: 2px 40px 40px 4px;
	color: #5adc00;
}

/*** notepadskin***/
.n_skin_notepadskin .stickie-header {
	background: url(../../images/skins/Skin_Notepad_topL.png) no-repeat;
	padding-left: 20px;
	height: 12px;
	padding-bottom: 0;
	margin: 0;
	font-size: 1%;
}

* html .n_skin_notepadskin .stickie-header {
	margin: 0 0 -3px 0;
}

.n_skin_notepadskin .stickie-header h3 {
	background: url(../../images/skins/Skin_Notepad_topR.png) no-repeat top right;
	height: 12px;
	margin: 0;
	padding-bottom: 0;
	font-size: 1%;
}

.n_skin_notepadskin .stickie-body {
	background: url(../../images/skins/Skin_Notepad_btmL.png) no-repeat bottom left;
	padding-left: 27px;
}

.n_skin_notepadskin .stickie-content {
	background: url(../../images/skins/Skin_Notepad_btmR.png) no-repeat bottom right;
}

.n_skin_notepadskin .stickie-content p {
	vertical-align: top;
	margin-top: 2px;
}

/*** noteitskin***/
.n_skin_noteitskin .stickie-header {
	background: url(../../images/skins/Skin_Stickienote_topL.png) no-repeat;
	padding-left: 30px;
	height: 30px;
	padding-bottom: 0;
	margin: 0;
	font-size: 1%;
}

* html .n_skin_noteitskin .stickie-header {
	margin: 0 0 -3px 0;
}

.n_skin_noteitskin .stickie-header h3 {
	background: url(../../images/skins/Skin_Stickienote_topR.png) no-repeat top right;
	height: 30px;
	margin: 0;
	padding-bottom: 0;
	font-size: 1%;
}

.n_skin_noteitskin .stickie-body {
	background: url(../../images/skins/Skin_Stickienote_btmL.png) no-repeat bottom left;
	padding-left: 30px;
}

.n_skin_noteitskin .stickie-content {
	background: url(../../images/skins/Skin_Stickienote_btmR.png) no-repeat bottom right;
	padding-bottom: 15px;
}

.n_skin_noteitskin .stickie-content p {
	vertical-align: top;
	margin-top: 2px;
}

/*** speechbubleskin***/
.n_skin_speechbubbleskin .stickie-header {
	background: url(../../images/skins/Skin_Speechbubble_topL.png) no-repeat;
	padding-left: 10px;
	height: 10px;
	padding-bottom: 0;
	margin: 0;
	font-size: 1%;
}

* html .n_skin_speechbubbleskin .stickie-header {
	margin: 0 0 -3px 0;
}

.n_skin_speechbubbleskin .stickie-header h3 {
	background: url(../../images/skins/Skin_Speechbubble_topR.png) no-repeat top right;
	height: 10px;
	margin: 0;
	padding-bottom: 0;
	font-size: 1%;
}

.n_skin_speechbubbleskin .stickie-body {
	background: url(../../images/skins/Skin_Speechbubble_btmL.png) no-repeat bottom left;
	padding-left: 10px;
}

.n_skin_speechbubbleskin .stickie-content {
	background: url(../../images/skins/Skin_Speechbubble_btmR.png) no-repeat bottom right;
}

.n_skin_speechbubbleskin .stickie-content p {
	vertical-align: top;
	margin-top: 2px;
	margin-bottom: 10px;
}

/*** hc_pillow skin ***/
.w_skin_hc_pillowskin div.widget-content {
	background: url(../../images/skins/girl/Skin_HCpillow_btmR.png) no-repeat bottom right;
	padding: 10px 25px 55px 5px;
	color:#ffffff;
	font-size: small;
	font-weight: normal;
	margin-bottom: 1px;
	margin-left: 45px;
}

.w_skin_hc_pillowskin div.widget-body {
	background: url(../../images/skins/girl/Skin_HCpillow_btmL.png) no-repeat bottom left;
	margin-left: 0px;

}

.w_skin_hc_pillowskin div.widget-headline {
	background: url(../../images/skins/girl/Skin_HCpillow_topRh.png) no-repeat top right;
	height: 58px;
	padding-left: 0px;
	margin-left:15px
}

.w_skin_hc_pillowskin div.widget-corner {
	background: url(../../images/skins/girl/Skin_HCpillow_topLh.png) no-repeat top left;
	background-position: 0px 1px;
	padding-left: 41px;
	height: 58px;
}

.w_skin_hc_pillowskin div.widget-headline h3 {
	text-align: left;
	padding-left:15px;
	font-size: small;
	font-weight: bold;
	color: white;
	vertical-align: bottom;
	position: relative;
	padding-top: 10px;
	color:#510042;
}


.w_skin_hc_pillowskin div.widget-headline .header-right {
	background: url(../../images/skins/girl/Skin_HCpillow.png) no-repeat;
	padding: 1px 18px 3px 0;
}


* html .w_skin_hc_pillowskin div.widget-headline h3 {

	margin: 0px 0px -3px 0px;
}

/***  Stickie note ***/
.n_skin_hc_pillowskin .stickie-header {
	background: url(../../images/skins/girl/Skin_HCpillow_topL.png) no-repeat;
	padding-left: 40px;
	height: 59px;
	padding-bottom: 0;
	margin: 0;
	font-size: 1%;
}

* html .n_skin_hc_pillowskin .stickie-header {
	margin: 0 0 -3px 0;
}

.n_skin_hc_pillowskin .stickie-header h3 {
	background: url(../../images/skins/girl/Skin_HCpillow_topR.png) no-repeat top right;
	height: 59px;
	margin: 0;
	padding-bottom: 0;
	font-size: 1%;
}

.n_skin_hc_pillowskin .stickie-body {
	background: url(../../images/skins/girl/Skin_HCpillow_btmL.png) no-repeat bottom left;
	padding-left: 30px;
}

.n_skin_hc_pillowskin .stickie-content {
	background: url(../../images/skins/girl/Skin_HCpillow_btmR.png) no-repeat bottom right;
	padding-left:3px;
	padding-bottom: 40px;
	margin-left: 4px;
	padding-right: 49px;
}

.n_skin_hc_pillowskin .stickie-content p {
	vertical-align: top;
	margin-top: 0px;
	padding-left:15px;
}
