/* --- profile --- */

form {
	margin: 0;
}

div.profilebox p {
	margin-top: 0;
	margin-bottom: 8px;
}

div.profilebox-header {
	background: url(../images/box-scale/profile-tl.gif) no-repeat;
	padding-left: 7px;
}

div.profilebox-header h3 {
	margin: 0;
	padding: 7px 13px 4px 6px;
	font-size: 11px;
	font-weight: bold;
	background: url(../images/box-scale/profile-tr.gif) no-repeat top right;
	text-transform: uppercase;
	color: white;
}

div.profilebox-header-bottom {
	background: url(../images/box-scale/profile-bl.gif) no-repeat;
	height: 7px;
	font-size: 1%;
}

div.profilebox-header-bottom div {
	background: url(../images/box-scale/profile-br.gif) no-repeat top right;
	height: 7px;
	margin-left: 7px;
}

div.profilebox-body {
	background: url(../images/box-scale/profile-l.gif) no-repeat bottom left;
	padding-left: 7px;
}

div.profilebox-content {
	background: url(../images/box-scale/profile-r.gif) no-repeat bottom right;
	padding: 3px 7px 7px 0;
}

div.profilebox-content .profile-info {
	width: 85px;
	float: left;
}

div.profilebox-content .profile-info .name {
	font-weight: bold;
	text-decoration: underline;
}

div.profilebox-content .profile-info img {
	margin-top: 3px;
	margin-bottom: 3px;
}

div.profilebox-content .figure {
	float: left;
	margin-left: 5px;
}

a.tab {
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #C60;
    padding: 2px 0.5em 2px 0.5em;
    margin-top: 4px;
    text-decoration: none;
    color: white;
}

a.tab-active {
    border-collapse: collapse;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #FC0;
    padding: 2px 0.5em 2px 0.5em;
    margin-top: 4px;
    text-decoration: none;
    color: black;
}

.panel { padding: 0;}

div.tabs {
	margin: 6px;
	text-align: center;
}

.validation-failed {
	border: 2px solid red;
}

#process-errors {
	display: none;
}

div.field-status-ok, div.field-status-error {
	padding-left: 14px;
	background-position: 0 2px;
	background-repeat: no-repeat;
}

div.field-status-ok {
	background-image: url(../images/register/icon_ok.gif);
}

div.field-status-ok b {
	color: #030;
}

div.field-status-error {
	background-image: url(../images/register/icon_error.gif);
}

div.field-status-error b {
	color: #600;
}

#pwTotal {
	font-weight: bold;
	margin-top: 1em;
}

div.processbox div.headline {
	position: relative;
}

div.processbox div.headline a.exit {
	position: absolute;
	right: 15px;
	text-transform: none;
	color: white;
}

#required-birthday {
	margin-bottom: 1em;
}

#register-buttons {
	margin-top: 1em;
}

#register-buttons-back {
	float: left;
}

#register-buttons-continue {
	float: right;
}

span.label, p.label {
	font-weight: bold;
}

label {
	font-weight: bold;
	margin: 0 5px 0 0;
}

.left {
	float: left;
}


div.password-step {
	border: 1px solid #CCC;
	padding: 7px 7px 0 7px;
	clear: both;
	margin-bottom: 1em;
}

div.password-step h4 {
	float: left;
	width: 20px;
	font-size: 11px;
	font-weight: bold;
	margin: 0;
}

div.password-step-content {
	margin-left: 23px;
}

div.password-step-content p {
	margin: 0 0 7px 0;
}

div.password-step-content #pwStatus, div.password-step-content #pwTotal {
	margin-bottom: 7px;
}

/* Profile tabs */

#profiletabs {
	float:left;
	width:100%;
	line-height:normal;
}
#profiletabs ul {
	margin:0;
	padding:10px 10px 0;
	list-style:none;
}
#profiletabs li {
	float:left;
	background:url("../images/profiletabs/tb_left.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 5px;
}
#profiletabs a {
	display:block;
	background:url("../images/profiletabs/tb_right.gif") no-repeat right top;
	padding:5px 5px 5px 2px !important;
	padding:5px 5px 4px 2px;
	text-decoration:none;
	font-weight:bold;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}
#profiletabs a.last-tab {
	display:block;
	background:url("../images/profiletabs/tb_right_last.gif") no-repeat right top;
	padding:5px 5px 5px 2px !important;
	padding:5px 5px 4px 2px;
	text-decoration:none;
	font-weight:bold;
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000;
}
#profiletabs #selected {
	background-image:url("../images/profiletabs/tb_left_on.gif");
}
#profiletabs #selected a {
	background-image:url("../images/profiletabs/tb_right_on.gif");
	color:#000;
	padding-bottom:5px !important;
	padding-bottom:4px;
}
#profiletabs #selected a.last-tab {
	background-image:url("../images/profiletabs/tb_right_on_last.gif");
	color:#000;
	padding-bottom:5px !important;
	padding-bottom:4px;
}
