.volter-icon {
    background: url(../../web/images/voltericons.png) no-repeat;
    /*display: inline-block;*/
    display: none;
    margin: 0px 0px -2px 0;

}

.volter-icon.alt_170 {
    background-position: -140px -12px;
    width: 20px;
    height: 12px;
}

.volter-icon.skull {
    background-position: -26px -24px;
    width: 9px;
    height: 10px;
}



@font-face {
    font-family: '12_Volter_9pt_st';
    src: url('../fonts/12_Volter_9pt_st.ttf');
    font-smooth: never;
    -webkit-font-smoothing: none;
}


@font-face {
    font-family: '35_Volter';
    src: url('../fonts/35_Volter.ttf');
    font-smooth: never;
    -webkit-font-smoothing: none;
}
